node_modules/
**/node_modules/

dist/
build/
.next/
out/

*.d.ts

*.log

coverage/
*.lcov

.cache/
.parcel-cache/
.nx/cache/

tmp/
temp/

yarn.lock
package-lock.json

webpack-stats.json
stats.json

/dist/executables/
/dist/packages/

*.jsbundle

.expo/
.expo-shared/

.metro-health-check*

.DS_Store

.env*

.vscode/settings.json

CHANGELOG.md
LICENSE.md

*.min.js
*.min.css
