{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 150,
	"trailingComma": "none",
	"endOfLine": "auto",
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"plugins": ["prettier-plugin-organize-imports"],
	"overrides": [
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"useTabs": true,
				"tabWidth": 4
			}
		},
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": ["package.json"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
